
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background-image:url(/i/eg_bg_04.gif);
}
.center{
    margin-top: 60px;
	margin-left: auto;  
    margin-right: auto;
}
#newline{
	float: left;
    margin-top: 10px;
}
#delline{
	float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#submitnewtaskbtn{
	float: right;
	margin-top: 10px;
	width:100px;
}
#title{
	margin-top: 10px;
	margin-bottom: 10px;
}
#instruction{
	margin-top: 10px;
	margin-bottom: 10px;
}
#newuserbody{
	margin-top: 60px;
	margin-left: auto;  
    margin-right: auto;
	width:800px;
}
#usersbody{
	margin-top: 60px;
	margin-left: auto;  
    margin-right: auto;
	width:800px;
}
#newtaskbody{
	margin-top: 60px;
	margin-left: auto;  
    margin-right: auto;
	width:500px;
}
#tasksbody{
	margin-top: 60px;
	margin-left: auto;  
    margin-right: auto;
	width:1000px;
}
#taskpanel{
	margin-bottom: 0px;
}