<web-app>

	<display-name>kfqb-workers-union</display-name>
	
	<!-- 上下文 -->
	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>cn.edu.ycm.union.controller.LoginController,
								cn.edu.ycm.union.controller.TaskController,
								cn.edu.ycm.union.controller.UserController</param-value>
	</context-param>
	
	<!-- 容器 -->
	<listener>
		<listener-class>cn.edu.ycm.union.container.WorkersUnionContainer</listener-class>
	</listener>
	
	<!-- 请求分发器 -->
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/login/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/action/*</url-pattern>
	</servlet-mapping>
	
	<!-- 登录模块 -->
	<filter>
		<filter-name>login-filter</filter-name>
		<filter-class>cn.edu.ycm.union.filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>login-filter</filter-name>
		<url-pattern>/action/*</url-pattern>
	</filter-mapping>
	
	<!-- 欢迎页 -->
	<welcome-file-list>
		<welcome-file>/pages/index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
